@inherits LayoutComponentBase

<div class="page">
    <nav class="top-navbar">
        <div class="navbar-brand">Avelraangame4</div>
        <div class="navbar-links">
            <NavLink href="" Match="NavLinkMatch.All">Home</NavLink>
            <NavLink href="counter">Counter</NavLink>
            <NavLink href="weather">Weather</NavLink>
        </div>
    </nav>

    <main>
        @Body
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
